##########################################################################################
#					   LEVEL SCREENS 				 #
#			     LVL1-20, PLUS NEXT LEVEL            			 #
#											 #
##########################################################################################
@Image SPRITESHEET     spritesheet01.png

#LEVEL SWITCHERS
LVL01				0	   4 3948  820 780
LVL02				0	1660 3948  820 780
LVL03				0	   4 4736  820 780
LVL04				0	 832 4736  820 780
LVL05				0	1660 4736  820 780
LVL06				0	   4 5524  820 780
LVL07				0	 832 5524  820 780
LVL08				0	1660 5524  820 780
LVL09				0	2488 3948  820 780
LVL10				0	 832 3948  820 780



# allows multiple files.
# @Image OTHERFILE otherfile.ext
@Image LEVELSCREEN levelScreens.png


# ALL LINES MUST BE IN THE FOLLOWING FORMAT:
# symbol			type	   x   y   width height	 {more x y width height's}
LVL11                          0           4    4    820  780
LVL12                          0         832    4    820  780
LVL13                          0        1660    4    820  780
LVL14                          0           4  792    820  780
LVL15                          0         832  792    820  780
LVL16                          0        1660  792    820  780
LVL17                          0           4 1580    820  780
LVL18                          0         832 1580    820  780
LVL19                          0        1660 1580    820  780
LVL20                          0        2488    4    820  780
LVLNEXT                        0        2488  792    820  780



##########################################################################################
#					        ENDSCREENS				 #
#			                                         			 #
#											 #
##########################################################################################
# allows multiple files.
# @Image OTHERFILE otherfile.ext
@Image ENDSCREEN endScreens.png



# ALL LINES MUST BE IN THE FOLLOWING FORMAT:
# symbol			type         x   y      width height	{more x y width height's}

GAMELOSE	              0               4    4   375  800     387    4   375  800
GAMEWIN                       0            1578    4   375  800       4  812   375  800     387  812   375 800     770  812   375  800    1153  812  375  800    1536  812   375  800    1961    4   375 800    1919  812   375  800       4 1620   375  800     387 1620  375  800

HIGHSCORE                     0             770    4   800  112

PLACES                        0             770 1620   110  900

RESTART                       0             888 1620   800   43     888 1671   800   43
