##########################################################################################
#					                  LEVELS                                                  #
#			                                         			                                #
#											 											 					        #
##########################################################################################

0     brick_level_one.config        HAMSTERDANCE
1     brick_level_two.config        HAMSTERDANCE

2     mushroom_level_one.config     FORESTREALMREVERSED
3     mushroom_level_two.config     FORESTREALMREVERSED

4     rock_level_one.config         ROCK
5     rock_level_two.config         ROCK

6     school_level_one.config       HORROR
7     school_level_two.config       HORROR

8     ice_level_one.config          SNOW
9     ice_level_two.config          SNOW

10    water_level_one.config        SEA
11    water_level_two.config        SEA

12    rainbow_level_one.config      HAMSTERDANCEMINOR
13    rainbow_level_two.config      HAMSTERDANCEMINOR

14    lava_level_one.config         VOLCANO

15    space_level_one.config        SPACE

16    forest_level_one.config       FORESTREALM

17    cecream_level_one.config      ICECREAMSONG

18    graveyard_level_one.config    HORROR
