##########################################################################################
#					         LOADING 				 #
#			                                         			 #
#											 #
##########################################################################################
# allows multiple files.
# @Image OTHERFILE otherfile.ext
@Image LOADING loading.png


# ALL LINES MUST BE IN THE FOLLOWING FORMAT:
# symbol			type     x   y      width height	{more x y width height's}
LOADING                        0           4    4   630  100           4  112   630  100       4  220  630  100       4  328   630  100       4  436   630  100     4 544   630  100       4  652  630  100       4  760  630  100     642    4  630  100     642 112  630  100
LOADING-IMAGE                  0            642 112  630  100

@Image CUBE cubeTxtr.png