#      ID                   Volume 0 - 100  Looping   Filename
@Sound HAMSTERDANCE         50              1         HamsterDance.ogg
@Sound HAMSTERDANCEMINOR    50              1         HamsterDanceMinor.ogg
@Sound ICECREAMSONG         50              1         turkey_in_the_strawMin.ogg
@Sound FORESTREALM          50              1         Forest_Realm.ogg
@Sound FORESTREALMREVERSED  50              1         Forest_Realm_Reversed.ogg
@Sound VOLCANO              50              1         Volcano.ogg
@Sound SEA                  50              1         Sea.ogg
@Sound SPACE                50              1         Bombercat_Space.ogg
@Sound SNOW                 50              1         Bombercat_Snow.ogg
@Sound ROCK                 50              1         Bombercat_Rock.ogg
@Sound HORROR               50              1         Final_Battle_with_the_Sorceress_v2.ogg
@Sound MOUNTAINKING         50              1         In_the_Hall_of_the_Mountain_King.ogg
@Sound KID_DEATH            100             0         Kid_Death.ogg
@Sound EXPLOSION            50              0         Explosion.wav
@Sound GAME_OVER            100             1         Game_Over.ogg
@Sound KITTY_DEATH          100             0         Cat_Death.ogg
@Sound CAT_STEPS            100             0         Cat_Steps.ogg