##########################################################################################
#					UI ELEMENTS					 #
#			Ticking Clock, Lives, Start Screen Components			 #
#											 #
##########################################################################################
@Image SPRITESHEET     spritesheet01.png

CLOCK				0	   1148    4  128 128		1284    4  128 128	1420    4  128 128	1556    4  128 128	1692    4  128 128	1828    4  128 128	1964   4  128 128	2100    4  128 128
LIVES-CAT			0	   1148  136  128 128

HEADER1				0	   2500    4  800  64
HEADER2				0	   2500   76  800  64
HEADER3				0	   2500  148  800  64
HEADER4				0	   2500  220  800  64
HEADER5				0	   2500  292  800  64
HEADER6				0	   2500  364  800  64
